body {
    text-align: center;
    background-image: url('https://cdn.discordapp.com/attachments/690148635375435825/856863476529627166/wallpaperflare.com_wallpaper.jpg');
    color: white;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: rgba(0, 0, 0, 0.658);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 713px;
}

.input-section{
    padding-top: 10px;
}

.input-field{
    padding: 10px 0px;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid darkgray;
    color: white;
    width: 250px;
    background-color: rgba(0, 255, 255, 0.137);
}

.profile-btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(13, 142, 146);
    color: blanchedalmond;
}
.profile-btn:hover{
    background-color: rgb(7, 84, 87);
}
#user-container{
    margin-top: 20px;
}
.profile-image{
    border: 2px solid coral;
    border-radius: 50%;
    width: 20%;
}
a:visited{
    color: white;
}
.username{
    display: block;
    margin-top: -20px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    
}
.follow-section, .repo-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 500px;
}

.followers, .following, .public-repo, .public-gist{
    background-color: rgba(0, 0, 0, 0.658);
    padding: 10px;
    margin: 5px;
    
}